body {
    background-color: #4c4c4c;
    font-family: Helvetica,Arial,sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.login {
    background-color: white;
    padding: 5% 5% 40px 5%;
    margin-top: 20px;
    border-radius: 8px;
    width: 265px;
    text-align: center;
}

img {
    display: block;
    margin-left: 80px;
    margin-top: -40px;
    margin-bottom: 20px;
    height: 23px;
    width: 90px;
}

input[type=text] {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2rem !important;
    padding: 10px 10px;
    margin-top: 6px;
    margin-left: -50px;
    width: 350px;
}

input[type=password] {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2rem !important;
    padding: 10px 10px;
    margin-top: 6px;
    margin-left: -50px;
    width: 350px;
}

::placeholder {
    color: #ccc;
}

input[type=submit] {
    background: #36c;
    color: #fff;
    font-size: 16px;
    border-radius: 40px;
    border: none;
    width: 350px;
    padding: 9px 0px;
    margin-top: 8px;
    margin-bottom: 25px;
    margin-left: -40px;
}

input[type=submit]:hover {
    cursor: pointer;
    background: #3f6dac;
}

a {
    text-decoration: none;
    color: #3b81c3;
}

a:hover {
    text-decoration: underline;
}

.blurb {
    margin-top: 25px;
    margin-left: -40px;
    color: #6c6d6f;
    font-size: 12px;
    width: 350px;
}

button {
    color: #36c;
    font-size: 16px;
    border-radius: 40px;
    border: none;
    width: 350px;
    padding: 9px 0px;
    background: #fff;
    border: 1px solid #36c;
    margin-top: 25px;
    margin-left: -40px;
}

button:hover {
    background: #36c;
    color: #fff;
    cursor: pointer;
}

svg {
    position: absolute;
    width: 18px;
    height: 18px;
    margin: 40px 175px;
    opacity: .8;
}
